:root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
  background-color: #FFFFFF;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
