.main {
    padding: 113px 94px 126px 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 139px;
    box-sizing: border-box;
    height: 932px;
    max-width: 1658px;
    width: 100%;
}

.main__auth {
    display: flex;
    flex-direction: column;
    padding: 128px 52px 20px 67px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.main__auth-title {
    color: #3F444A;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
}

.main__input {
    padding: 25px 20px;
    margin-bottom: 28px;
    border-radius: 6px;
    border: 1px solid #959595;
    font-size: 18px;
    outline: none;
    color: #959595;
}

.main__button {
    margin-top: 6px;
    background-color: #0165FF;
    border-radius: 59px;
    color: #FFFFFF;
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 24px;
}

.main__button_color {
    opacity: 0.5;
}

.main__button:hover {
    opacity: 0.3;
    cursor: pointer;
}

.main__from {
    display: flex;
    flex-direction: column;
    width: 461px;
}


.main__block {
    padding-top: 210px;
    padding-bottom: 209px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.main__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-size: 68px;
    text-align: center;
}

.main__subtitle {
    margin: 0;
    color: #D9D9D9;
    font-size: 24px;
    text-align: center;
}


.main__input-error {
    color: #FF0000;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    width: 100%;
}

.main__container {
    margin-top: 25px;
    margin-bottom: 33px;
    font-size: 18px;
    color: #959595;
    /*line-height: 1.5;*/
    text-align: center;
    position: relative
}

.main__container span {
    background: #fff;
    display: inline-block;
    padding: 0 18px;
    position: relative
}

.main__container:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #959595;
}


.main_img-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 37px;
}

.main__logo-img {
    width: 38px;
    height: 38px;
}

.main__text {
    text-align: center;
    margin: 0;
    color: #959595;
}

.main__text-link {
color: #0165FF;
    text-decoration: none;
}
